html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

.form input[type="number"] {
    width: 200px;
}

.lastResult {
    color: white;
    padding: 3px;
}


/* Test */

#guessField {
    width: 150px;
}
#guessField:not(:focus):invalid {
    background-color: rgb(213, 112, 112);
}