nav {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: coral;
    color: white;
}

body {
    margin: 0;
}

.links a {
    text-decoration: none;
    margin-left: 5px;
    color: white;
}

.menu {
    display: none;
}

/* Carte */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 500px;
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    box-shadow: 2px 2px 2px black;
    padding: 10px 0px;
    overflow: hidden;

}

@media screen and (max-width:500px) {

    .links {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 118px;
        left: 0;
        background: coral;
        width: 100%;
        height: 100%;
    }

    .menu span {
        width: 30px;
        height: 5px;
        background-color: white;
        margin-top: 4px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    .span_1 {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }

    .span_2 {
        display: none;
    }

    .span_3 {
        margin-top: -4px !important;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }


    .links a {
        margin-top: 15px;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}