<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Last Name</title>
</head>



<html>

<body>
    <h1>Last Name</h1>

    <% users.forEach((element)=>{ %>
        <p>
            <%=element.l_name %>
        </p>
        <% }); %>
</body>

</html>